body {
    background-color:lavenderblush
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%
}

h1 {
    color: aquamarine;
}

h2{
    color: aquamarine;
}
h2:hover{
    color:cornflowerblue
}

img{
    border-radius: 100%;
}
